.option {
    width: 20%;
    text-align: center;
}

.option > p {
    text-align: center;
    margin-top: -15px;
}

.infoSpan {
    display: flex;
    justify-content: center;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
    margin-top: 15px;
}