<h3 style="color: white; text-align: center; margin-bottom: 100px;">{{gameMode === 0 ? 'The Daily Puzzle' : 'Free Play'}}</h3>
<div style="display: flex; justify-content: center; width: 100%;">
    <div style="color: black; margin-right: 25px; width: 35%; display: block;">
        <mat-grid-list style="color: black; margin-bottom: 20px;" *ngFor="let option of post" cols="4" rowHeight="48px">
            <mat-grid-tile
            [colspan]="4"
            [rowspan]="1"
            [ngStyle]="{'background-color': option.name == answer.name ? 'green' : 'grey'}">
            <h1 style="font-size: 18px; float: left;">{{ option.name }}</h1>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1"
                [ngStyle]="{'background-color': option.area == answer.area ? 'green' : 'red'}">
                <mat-grid-tile-header style="display: block; text-align: center; color: black;">Area</mat-grid-tile-header>
                <p style="margin-top: 27px;">{{ option.area }}</p>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1"
                [ngStyle]="{'background-color': option.kills == answer.kills ? 'green' : 'red'}">
                <mat-grid-tile-header style="display: block; text-align: center; color: black;">Kills</mat-grid-tile-header>
                <p style="margin-top: 27px;">{{ option.kills }}</p>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1"
                [ngStyle]="{'background-color': option.health == answer.health ? 'green' : 'red'}">
                <mat-grid-tile-header style="display: block; text-align: center; color: black;">Health</mat-grid-tile-header>
                <p style="margin-top: 27px;">{{ option.health }}</p>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1"
                [ngStyle]="{'background-color': option.geo == answer.geo ? 'green' : 'red'}">
                <mat-grid-tile-header style="display: block; text-align: center; color: black;">Geo</mat-grid-tile-header>
                <p style="margin-top: 27px;">{{ option.geo }}</p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div style="margin-left: 25px; width: 35%;">
        <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
    </div>
</div>
