.option {
    width: 20%;
    text-align: center;
}

.option > p {
    text-align: center;
    margin-top: -15px;
}

.infoSpan {
    display: flex;
    justify-content: center;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
    margin-top: 15px;
}

.question {
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    color: rgb(62, 230, 230);
}

.gameTitle {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    margin-right: 10px;
}