.appHeader {
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0;
  }

  .intro {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 20px;
  }