<form class="example-form" >
  <mat-form-field class="example-full-width" style="width: 100%">
    <mat-chip-list #chipList>
      <input #autocompleteInput type="text" placeholder="Search Entry" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option style="border: 2px solid black; border-bottom: none; height: 125px;" *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
          <div style="float: left; margin-top: 20px;">
            <p><strong>{{option.name}}</strong></p>
          </div>
          <div style="float: left; height: 100px; width: 100%; margin-top: -20px;">
              <div class="option">
                <p style="font-size: 14px;">Area</p>
                <p style="margin-top: -35px;">{{option.area}}</p>
              </div>
              <div class="option">
                <p style="font-size: 14px;">Kills Required</p>
                <p style="margin-top: -35px;">{{option.kills}}</p>
              </div>
              <div class="option">
                <p style="font-size: 14px;">Health</p>
                <p style="margin-top: -35px;">{{option.health}}</p>
            </div>
            <div class="option">
              <p style="font-size: 14px;">Geo</p>
              <p style="margin-top: -35px;">{{option.geo}}</p>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>

  </mat-form-field>

  </form>