<form class="example-form" >
  <mat-form-field class="example-full-width" style="width: 100%">
    <mat-chip-list #chipList>
      <input #autocompleteInput type="text" placeholder="Search Entry" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" [matChipInputFor]="chipList" [disabled]="wonGame || (!wonGame && listLength == 5)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)" style="height: 140px; line-height: normal; border: 1px solid black; border-bottom: none; border-right: none; padding: 0px;">
          <div style="width: 100%; border-bottom: 1px solid grey; margin-bottom: 5px;">
            <span style="margin-left: 10px;"><strong>{{ option.name }}</strong></span><br>
          </div>
          <div style="display: flex; justify-content: center;">
            <div style="width: 20%; display: flex; justify-content: center;">
              <img aria-hidden [src]="'../../assets/entry-images/' + option.name + '.webp'" height="75" />
            </div>
            <div class="option">
              <span><strong>Area</strong></span><br>
              <span class="infoSpan">{{ option.area }}</span>
            </div>
            <div class="option">
              <span><strong>Kills</strong></span><br>
              <span class="infoSpan">{{ option.kills }}</span>
            </div>
            <div class="option">
              <span><strong>Health</strong></span><br>
              <span class="infoSpan">{{ option.health }}</span>
            </div>
            <div class="option">
              <span><strong>Geo</strong></span><br>
              <span class="infoSpan">{{ option.geo }}</span>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>

  </mat-form-field>

  </form>