/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { background-color: #2f3136; height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
