.appHeader {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-right: 10px;
  }

  .intro {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 20px;
  }

  .question {
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    color: rgb(62, 230, 230);
  }