<div style="position: absolute; top: 0; right: 0; margin-top: 15px; width: 250px; text-align: center;">
    <span style="color: rgb(59, 206, 255); font-size: 20px;">Created by NerfIrelia73</span>
</div>
<div style="display: flex; justify-content: center; margin-top: 60px;">
    <h3 class="appHeader">Welcome to Hunter's Journle!</h3>
    <fa-icon class="question" (click)="openInstructions()" [icon]="faQuestionCircle"></fa-icon>
</div>
<div class="intro">
    <div style="width: 50%; display: flex; justify-content: center; flex-wrap: wrap;">
        <span style="text-align: center; display: block;">This is a game based on the popular game "Wordle".  If you would like to see the instructions for this game, then click <a (click)="openInstructions()" style="color: rgb(62, 230, 230) !important; cursor: pointer">here</a> or click the ? icon at the top.  Otherwise, continue on to start playing the game!</span>
        <button mat-raised-button color="primary" routerLink="/game" style="display: block;">Start Playing</button>
    </div>
</div>
