<div style="display: flex; justify-content: center;">
    <h3 class="appHeader">Welcome to Hunter's Journle!</h3>
    <fa-icon class="question" (click)="openInstructions()" [icon]="faQuestionCircle"></fa-icon>
</div>
<div class="intro">
    <div style="width: 50%; border: 2px solid green;">
        <p style="text-align: center;">This is a game based on the popular game "Wordle".  If you would like to see the instructions for this game, then click <a (click)="openInstructions()" style="color: rgb(62, 230, 230) !important; cursor: pointer">here</a> or click the ? icon at the top.  Otherwise, continue on to start playing the game!</p>
        <button routerLink="/game">
            The Daily Puzzle
        </button>
        <button routerLink="/game">
            Free Play
        </button>
    </div>
</div>
