<div class="modal-header bg-info" style="border-bottom: none;">
    <h4 class="modal-title">You found the correct Entry!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body bg-info">
    <p>It took you {{guesses.length}} guesses to find {{ guesses[0].name }}</p>
    <div class="modal-body bg-info" style="display: flex; justify-content: center;">
        <img style="vertical-align: middle;" aria-hidden src="../../assets/entry-images/4Mommy.jpg"/>
    </div>
    <div class="modal-body bg-info">
        <button style="float: left; margin-right: 20px; margin-left: -15px;" type="button" class="close" (click)="copyToClipboard()">
            <span aria-hidden="true">Share</span>
        </button>
        <button style="float: left;" type="button" class="close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">Close</span>
        </button>
    </div>
</div>